<h1><%= link_to @song.title, song_path(@song) %></h1>

<% if @song.artist.nil? %>
  <h2><%= link_to "Add Artist", edit_song_path(@song) %></h2> 

<% else %>  
  <h2><%= display_artist(@song) %></h2> 

<% end %>

<%= link_to "All Songs", songs_path %>
